<div class="container mt-10">

    <h1 class="text-center " >О нас</h1>
    <img src="" width="100%"/>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam velit earum nostrum officiis quia nihil error aliquid magni voluptates! Quod quas impedit voluptatum culpa iure reprehenderit libero, tempore sequi?</p>
</div>
